:root {
  --tw-border-opacity: 1;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

h1 {
  text-align: center;
  color: rgb(255, 234, 0);
}

.PersonSection {
  min-height: 726px;
}

.Container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.75rem;
  list-style-type: none;
}

.Tile {
  padding: 2rem;
  background-color: rgb(48 53 64);
  border-radius: 0.375rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

footer {
  text-align: center;
  justify-self: flex-end;
  flex-shrink: 1;
  padding-bottom: 2rem;
}

footer p {
  font-size: 1.5rem;
  color: rgb(112, 120, 136);
}

.Pagination {
  position: relative;
  display: inline-flex;
  z-index: 0;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgba(107, 114, 128, 1);
  line-height: 1.25rem;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.Pagination__button {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  justify-items: center;
  padding: 0.5rem;
  box-sizing: border-box;
  border: none;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
}

.Left {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.Forward {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

svg {
  width: 1.25rem;
  height: 1.25rem;
}

.FilmContent {
  min-height: 800px;
  min-width: 669px;
}

.Character {
  display: flex;
  align-items: center;
  color: rgb(245, 231, 72);
}

.GoBack {
  margin: 0.5rem;
  cursor: pointer;
}
